body{
font-family: Arial;
background:#f2f2f2;
}

.container{
width:400px;
margin:40px auto;
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
}

.step{
display:none;
}

input{
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:10px;
}

button{
padding:10px;
cursor:pointer;
}

.btn-group{
display:flex;
justify-content:space-between;
}

.error{
color:red;
font-size:13px;
}

/* progress bar */

.progress{
height:8px;
background:#ddd;
margin-bottom:15px;
}

#progressBar{
height:100%;
width:0%;
background:#4CAF50;
}

#progressText{
font-size:12px;
text-align:right;
margin-bottom:10px;
}

#success{
color:green;
text-align:center;
font-size:20px;
margin-top:20px;
}